.main{
     margin-top: 50px !important;
     padding: 0px;
     margin: auto;
     border: 5px solid #21211F ;
     width: 270px;
     height: 450px;
     background-color:#21211F ;
     border-radius: 12px;
     box-shadow: 0px 0px 30px 10px #333333 !important ;
}
.btnclass{
    padding-left: 15px;
}
.sayl{
    width: 99.9%;
    height:30px;
    background-color: #21211F ;
}
h3{
    text-align: center;
    margin-top: 5px;
    font-family: 'Bitter', serif;
    color: white;
}
span{
    color: #E43560;
}
#res{
    width: 96% !important;
    height: 60px !important;
    margin: 0px !important;
    margin-bottom: 5px !important;
    border-bottom: 1px solid rgba(128, 128, 128, 0.349) !important;
    font-size: 30px;
    font-weight: lighter !important;
    border: 1px solid #2C292A;
    background-color: #2C292A;
    color: white;
    text-align: right;
    padding-top: 30px ;
    padding-right: 8px !important;

}
#res1{
    width: 97.5% !important;
    height: 20px !important;
    border: none;
    margin: 0px;
    font-size: 18px;
    font-weight: lighter !important;
    background-color: #2C292A;
    text-align: right;
    padding-right: 8px !important;
    padding-bottom: 3px;
    padding-top: 10px;
    color: white;
}
.colchange{
    background-color: #1B3845 !important;
}
#equal{
    width: 20%;
    margin-right: 15px !important;
    margin-bottom: 8px !important;
    height: 105px;
    padding-top: 60px;
    font-size: 25px;
    font-weight: lighter !important;
    border-radius: 5px;
    border:none;
    color: white;
    background-image: linear-gradient(to top, #013536 , #03a7a4) !important;
    float: right;
}
.mainbtn button{
    width: 20%;
    margin-right: 8px !important;
    margin-bottom: 8px;
    height: 49px;
    font-size: 25px;
    font-weight: lighter !important;
    border-radius: 5px;
    border:none;
    color: white;
    background-color: #343434;

}
.mainbtn1 button{
    width: 20%;
    margin-right: 8px !important;
    margin-bottom: 8px !important;
    height: 49px;
    font-size: 25px;
    font-weight: lighter !important;
    border-radius: 5px;
    border:none;
    color: white;
    background-color: #343434;
}
.mainbtn button:hover{
    background-color: #27426d !important;

}
.mainbtn1 button:hover{
    background-color: #27426d !important;

}
#equal:hover{
    background-image: linear-gradient(to top , #03a7a4, #013536) !important;

}
